.signIn-page, .signUp-page{
  border-radius: 10px;
}
.signIn-page .input, .signUp-page .input{
  background-color: transparent;
  margin: 10px 0px;
  width: 80%;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(88, 139, 232, 0.865);
}
.signIn-page .submit, .signUp-page .submit{
  width: 80%;
  padding: 10px;
  background-color: rgba(88, 139, 232, 0.865);
  border: none;
}
.signIn-page p a, .signUp-page p a{
  color: rgba(88, 139, 232, 0.865);
}
.bdr{
  border: 2px solid rgba(88, 139, 232, 0.865);
}